<section>
  <div id="smallCircle"></div>
  
  <main>
      <h2>Buscando um endereço? <br/>Digite o CEP abaixo!</h2>
      <input type="text" [(ngModel)]="adress" placeholder="INSIRA O CEP" name="cep">
      <br/>
      <button (click)="getAdress()">OBTER ENDEREÇO</button>

    <div>
      <p *ngIf="dataAdress!=undefined">Rua: {{ dataAdress.logradouro }}</p>
      <p *ngIf="dataAdress!=undefined">Bairro: {{ dataAdress.bairro }}</p>
      <p *ngIf="dataAdress!=undefined">Cidade: {{ dataAdress.localidade }} - {{ dataAdress.uf }}</p>
    </div>
    
    <i class="fas fa-map-marker-alt"></i>
 
  </main>

  <div id="bigCircle"></div>

</section>