section {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* background: linear-gradient(to right, #ff5f6d, #ffc371); */

#smallCircle {
    background-color: #ffaab1;
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    right: 20%;
}

main {
    width: 400px;
    height: 500px;
    background-color: #ffaab1;
    margin: 100px;
    border-radius: 8px;
    position: relative;
    right: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    h2 {
        color: rgb(59, 55, 55);
        font-weight: 400;
        text-align: center;
        font-size: 28px;
    }
    input {
        width: 220px;
        height: 30px;
        border: none;
        border-radius: 3px;
        text-align: center;
    }
    button {
        width: 220px;
        height: 30px;
        border: none;
        border-radius: 3px;
        margin-top: 17px;
        background-color: #f5f4b2;
        color: grey;
    }
    button:hover {
        color:rgb(59, 55, 55);
        cursor: pointer;
    }
    p {
        background-color: white;
        width: 220px;
        height: 30px;
        border-radius: 3px;
        text-align: center;
        color:rgb(59, 55, 55);
        padding-top: 5px;
    }
    .fa-map-marker-alt{
        color: white;
        font-size: 160px;
        position: fixed;
        top: 505px;
        left: 51%;
        z-index: 1;
    }


#bigCircle {
    background-color: #ffaab1;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: 80%
}



/* responsive */
@media (max-width: 1000px){
    .fa-map-marker-alt {
        left: 55%;
    }
}
@media(max-width: 900px){
    #smallCircle {
        right: 10%;
    }
    .fa-map-marker-alt {
        left: 55%;
    }
}

@media(max-width: 800px){
    #smallCircle {
        right: 5%;
    }
    main {
        min-width: 300px;
        position: relative;
        right: 10%;
    }
    .fa-map-marker-alt {
        left: 53%;
    }
}

@media(max-width: 600px){
    #smallCircle {
        left: 5%;
    }
    main {
        z-index: 1;
    }
    .fa-map-marker-alt {
        left: 55%;
        z-index: -1;
    }
}

@media(max-width: 500px){
    #smallCircle {
        left: 15%;
    }
}

@media(max-width: 400px){
    #smallCircle {
        left: 25%;
    }
    main {
        right: 13%;
    }
}

@media(max-width: 380px){
    main {
        right: 14%;
    }
    h2 {
        font-size: 25px;
    }
}

@media(max-width: 350px){
    #smallCircle {
        left: 40%;
    }
    main {
        padding: 0;
        right: 16%;
    }
}

@media(max-width: 349px){
    .fa-map-marker-alt {
        top: 66%;
    }
}


